@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
.dark-mode {
  background-color: #202c37;
  height: 100vh;
}

.dark-mode nav, .dark-mode button, .dark-mode input, .dark-mode .card, .dark-mode .description, .dark-mode .Dropdown-control, .dark-mode .Dropdown-menu, .dark-mode .Dropdown-option, .dark-mode a {
  background: #2b3945;
  color: white;
  border: none;
}

.dark-mode .card-list, .dark-mode .detail, .dark-mode .detail-page {
  background-color: #202c37;
  color: white;
}

.light-mode {
  height: 100vh;
  background: #fafafa;
}

.light-mode nav, .light-mode button, .light-mode input, .light-mode .card, .light-mode .description, .light-mode .Dropdown-control, .light-mode .Dropdown-menu, .light-mode .Dropdown-option, .light-mode a {
  background: white;
  color: #111517;
  border: none;
}

.light-mode .card-list, .light-mode .detail, .light-mode .detail-page {
  background-color: #fafafa;
  color: #111517;
}

/* .dark-blue-dm-elements{
    background:hsl(209, 23%, 22%)
}
.very-dark-blue-dm-bg{
background: hsl(207, 26%, 17%)
}
.very-dark-blue-lm-text{
color:hsl(200, 15%, 8%)
}
.dark-grey-lm-input{
    color: hsl(0, 0%, 52%)
}
.very-light-gray-lm-bg{
    color:hsl(0, 0%, 98%)
}
.white-dm-text{
    color:hsl(0, 0%, 100%)
}
.white-lm-elements{
    background:hsl(0, 0%, 100%)
}
 */
button {
  cursor: pointer;
  border: 0;
  font-family: 'Nunito Sans', sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  padding: 20px 40px;
}

.card-list {
  padding: 30px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
}

@media only screen and (min-width: 1200px) {
  .card-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 30px 40px;
  }
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  overflow: hidden;
}

.card .description {
  margin: 1rem;
  margin-left: 1rem;
  font-size: 14px;
}

.card .description label {
  font-weight: 600;
}

.card .description h2 {
  font-weight: 800;
  margin-bottom: 5px;
}

img {
  width: 100%;
  height: 180px;
}

.nav-bar {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar i {
  margin-right: 5px;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .nav-bar {
    padding: 30px 40px;
  }
}

.filters {
  padding: 30px 30px 10px;
}

@media only screen and (min-width: 1030px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.filters .search {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
}

@media only screen and (min-width: 1030px) {
  .filters .search {
    margin: 0;
    width: 30%;
  }
}

.Dropdown-root {
  width: 50%;
}

@media only screen and (min-width: 1030px) {
  .Dropdown-root {
    width: 20%;
  }
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.description {
  text-decoration: none;
}

.Dropdown-option:hover {
  text-decoration: underline;
}

.detail-page {
  overflow: hidden;
  margin: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85vh;
}

@media only screen and (min-width: 1030px) {
  .detail-page {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    overflow-y: hidden;
    margin: 0;
  }
}

.detail-page a {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-page a button {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1030px) {
  .detail-page a {
    margin: 20px 30px;
    height: 50px;
    width: 160px;
  }
  .detail-page a button {
    font-size: 16px;
  }
}

.detail-page .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90%;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 30px;
  }
}

.detail-page .detail img {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail img {
    width: 45%;
    height: 30%;
  }
}

.detail-page .detail_country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country {
    width: 45%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
        grid-template-areas: "name name" "d1 d2"  "border border";
  }
}

.detail-page .detail_country_name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_name {
    grid-area: name;
    margin-top: 0;
    font-size: 25px;
  }
}

.detail-page .detail_country_description_1 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_description_1 {
    grid-area: d1;
    margin-top: 0;
    font-size: 18px;
  }
  .detail-page .detail_country_description_1 p {
    margin-bottom: 5px;
  }
}

.detail-page .detail_country_description_2 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_description_2 {
    grid-area: d2;
    margin-top: 0;
    font-size: 18px;
  }
  .detail-page .detail_country_description_2 p {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_border {
    grid-area: border;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.detail-page .detail_country_border p {
  font-size: 16px;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_border p {
    font-size: 22px;
  }
}

.detail-page .detail_country_border_buttons {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_border_buttons {
    margin-top: 0px;
  }
}

.detail-page .detail_country_border_buttons button {
  padding: 5px 10px;
}

@media only screen and (min-width: 1030px) {
  .detail-page .detail_country_border_buttons button {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=index.css.map */